<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2 class="section-heading">Velkommen til Friskoven Kleinsmeide – Kvalitetsbevidst kleinsmed</h2>
                <hr class="light">
                <p class="text-faded">Vi udfører alle former for smede-, svejse- og montagearbejde med højt kvalificeret, certificeret arbejdskraft på eget moderne værksted eller på byggepladsen. I stål, rustfrit og aluminium. Hvad enten der er tale om smedeentrepriser til bygge- og anlægsbranchen, trapper og altaner til firmaer og private, transportanlæg eller emner til specialformål</p>
                <a href="#" class="btn btn-default btn-xl">Læs mere</a>
            </div>
        </div>
    </div>
</section>
